head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='x-apple-disable-message-reformatting')
  title AquaMania
  link(href='../style/activation.css' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet')
center(style='width: 100%; background-color: #f1f1f1;')
  .email-container(style='max-width: 600px; margin: 0 auto;')
    table(align='center' role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%' style='margin: auto;')
      tr
        td.bg_white(valign='top' style='padding: 1em 2.5em 0 2.5em;')
          table(role='presentation' border='0' cellpadding='0' cellspacing='0' width='100%')
            tr
              td.logo(style='text-align: center;')
                h1
                  a(href='${process.env.CLIENT_URL}') Aqua Mania
      tr
        td.hero.bg_white(valign='middle' style='padding: 3em 0 2em 0;')
          img(src='../img/email.png' alt='' style='\
          width: 300px;\
          max-width: 600px;\
          height: auto;\
          margin: auto;\
          display: block;\
          ')
      tr
        td.hero.bg_white(valign='middle' style='padding: 2em 0 4em 0;')
          table
            tr
              td
                .text(style='padding: 0 2.5em; text-align: center;')
                  h2 Aktivasi Email
                  h3 Jika ini bukan Anda, abaikan!
                  p
                    a.btn.btn-primary(href='${process.env.CLIENT_URL}/auth/activate/${token}') Aktivasi
